body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*landing------------------------------------------*/

#home {
  width: 1280px;
  height: 720px;
  position: absolute;
}

#home {
  background-image: url(../img/landing.png);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home img {
  margin-left: 40%;
  margin-top: 3%;
}

#home p {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  font-size: 20px;
}

#home h3 {
  font-family: 'Roboto', bold;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 5%;
  font-size: 25px;
}

#home button {
  margin-left: 25%;
  margin-top: 5%;
}

.button {
  border-top: 1px solid #ffffff;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background: -moz-linear-gradient(top, #ffffff, #ffffff);
  background: -ms-linear-gradient(top, #ffffff, #ffffff);
  background: -o-linear-gradient(top, #ffffff, #ffffff);
  padding: 19.5px 50px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #000000;
  font-size: 30px;
  font-family: 'Yellowtail', cursive;
  text-decoration: none;
  vertical-align: middle;
}

.button:hover {
  border-top-color: #b8b8b8;
  background: #b8b8b8;
  color: #ffffff;
}

.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

/*crear grupo-----------------------------------*/

#crearGrupo {
  width: 1280px;
  height: 720px;
  position: absolute;
}

#crearGrupo {
  background-image: url(../img/cg.png);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#crearGrupo p {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 12%;
  font-size: 25px;
}

#crearGrupo h1 {
  margin-left: 38%;
  margin-right: 30%;
  margin-top: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}

#crearGrupo input {
  margin-left: 42%;
}

#crearGrupo .button {
  margin-left: 42%;
  margin-top: 5%;
}

/*unirse al grupo----------------------------------*/

#unirseGrupo {
  width: 1280px;
  height: 720px;
  position: absolute;
}

#unirseGrupo {
  background-image: url(../img/un.png);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#unirseGrupo p {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 15%;
  font-size: 25px;
}

#unirseGrupo button {
  margin-left: 38%;
  margin-top: 5%;
}

#unirseGrupo .text {
  margin-left: 38%;
  margin-top: 3%;
}

#unirseGrupo .button {
  margin-left: 42%;
  margin-top: 3%;
}

.text {
  padding: 6px;
  font-size: 25px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
  text-shadow: undefined 0px 0px 5px px rgba(66, 66, 66, .75);
}

.text:focus {
  outline: none;
}

/*formulario----------------------------------*/

#fomulario {
  width: 100%;
  position: absolute;
}

#fomulario {
  background-image: url(../img/Preguntas.png);
  background-repeat: repeat;
  color: white;
}

#fomulario form {
  margin-left: 30%;
}

#fomulario .button {
  margin-left: 20%;
}

/*migrupo ------------------------------------*/

#miGrupo {
  width: 1280px;
  height: 720px;
  position: absolute;
}

#miGrupo {
  background-image: url(../img/landing.png);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#miGrupo p {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  font-size: 20px;
}

#miGrupo button {
  margin-left: 40%;
  margin-top: 5%;
}

h4 {
  margin-left: 40%;
}

#biblioteca {
  padding: 9%;
  position: absolute;
  width: 100%;
  height: 720px;
  display: inline;
  background-image: url('../img/Resultados.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.bar {
  display: inline-flex;
  position: sticky;
  width: 200px;
  margin: 5px;
  text-align: center;
}

.bar a {
  text-decoration: none;
  color: #fff;

}

.bar span {
  font-family: gotham;
  font-size: 18px;
  text-align: center;
}

.bar h3 {
  margin-top: 5px;
}

.bar:hover {
  box-shadow: 0px 32px 60px 10px rgba(0, 0, 0, 0.64);
}

.image {
  width: 90%;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #145677;
}

.bar:hover .overlay {
  box-shadow: inset 0px 0px 150px 5px rgba(0, 0, 0, 1);
  opacity: 0.7;
}

.play {
  background-image: url('source/Iconos/Forma 1.png');
  width: 50%;
  height: 50%;
  background-size: 75%;
  background-position: center;
  padding: 50%;
  background-repeat: no-repeat;
}
